.header {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;

  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      color: #30a3b8;
      cursor: pointer;
    }

    .option::after {
      content: '';
      display: block;
      width: 0px;
      height: 2px;
      background: #7bc4d1;
      transition: width 0.3s;
    }

    .option:hover::after {
      width: 90%;
      transition: width 0.3s;
    }

    .option {
      padding: 10px 15px;
    }
  }
}
